.kids, .kid-info {
  margin-top: 25px;
}

.kid {
  float: left;
  padding: 5px;
  height: 300px;
  text-align: center;
}

.kid-info .kid-detail {
  float: left;
  width: 300px;
  text-align: center;
}

img.gs {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

img.gs:hover{
    filter: none;
    -webkit-filter: grayscale(0);
}