{% extends "templates/admin/base.html" %}

{% block headtitle %}
<title>Indian Buffets - {{restaurant.name}}</title>
{% endblock %}

{% block content %}
<div class="row" style="margin-top:50px;">
    <div class="col-md-6">
        <h2> Restaurant - {{restaurant.name}} </h2>

        <table class="table" style="margin-top:10px;width:400px;">
            <tr>
                <td>Name</td>
                <td>{{restaurant.name}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{restaurant.display_address}}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{restaurant.phone_number}}</td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>{{restaurant.rating}}</td>
            </tr>
        </table>
    
        <h4> Veg/Halal Details </h4>
        <form action="/adminupdaterestaurant" method="post" role="form">
        <div class="row">
        <div class="col-md-3">

        <div class="radio">
          <label>
            <input type="radio" name="halal" id="halal1" value="no_halal" {% if restaurant.halal == 'no_halal' %}checked{% endif %}>
            No Halal
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="halal" id="halal2" value="halal" {% if restaurant.halal == 'halal' %}checked{% endif %}>
            Halal
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="halal" id="halal3" value="partly_halal" {% if restaurant.halal == 'partly_halal' %}checked{% endif %}>
            Partly Halal
          </label>
        </div>

        </div>
        <div class="col-md-6">
          <div> Partly Halal Details </div>
          <textarea class="form-control" rows="3" name="partly_halal_notes">{% if restaurant.partly_halal_notes %}{{restaurant.partly_halal_notes}}{% endif %}</textarea>
        </div>
        </div>

        <div class="row">
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="yes" name="is_veg" {% if restaurant.is_veg %}checked{% endif %}>
              Vegetarian
            </label>
          </div>
        </div>

        <div class="col-md-6" style="padding-top:10px;">
          <input type="hidden" name="yelp_id" value="{{restaurant.yelp_id}}">
          <button type="submit" class="btn btn-success btn-xs">Save Info</button>
        </div>

        </div>

        </form>
        <h3> Buffets for {{restaurant.name}} </h3>
        {% if buffets %}
            <table class="table">
            <tr>
                <th> Day Of Week </th>
                <th> Price </th>
                <th> Start Time </th>
                <th> End Time </th>
                <th> Items </th>
                <th> Action </th>
            </tr>
            {% for b in buffets %}
            <tr {% if (b.dayofweek % 2 > 0): %} class="warning" {% else %}class="success"{% endif %}>
                <td>{{dow_hash[b.dayofweek]}}</td>
                <td> {{b.price}} </td>
                <td> {{b.starttime.strftime("%I:%M %p")}} </td>
                <td> {{b.endtime.strftime("%I:%M %p")}} </td>
                <td> {{b.numitems}} </td>
                <td>
                  <form action="/removebuffet" method="post" role="form">
                    <input type="hidden" name="buf_id" value="{{b.key.id()}}">
                    <button type="submit" class="btn btn-default btn-xs">delete</button>
                  </form>
                </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
            No Buffets yet
        {% endif %}
    </div>

    <div class="col-md-6">
     <form action="/addbuffet" method="post" role="form">            
        <fieldset>
        <legend> New Buffet Info</legend>
        <input type="hidden" name="yelp_id" value="{{restaurant.yelp_id}}">
        <div class="form-group">
          <label for="dow">Day Of Week</label>
          <select multiple class="form-control" id="dow" name="dow" size="7">
          <option value="6">Sunday</option>
          <option value="0">Monday</option>
          <option value="1">Tuesday</option>
          <option value="2">Wednesday</option>
          <option value="3">Thursday</option>
          <option value="4">Friday</option>
          <option value="5">Saturday</option>
        </select>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" name="price" placeholder="price">
        </div>
        <div class="form-group">
          <label for="starttime">Start Time</label>
          <input type="text" class="form-control" id="starttime" name="starttime" placeholder="start time">
        </div>
        <div class="form-group">
          <label for="endtime">End Time</label>
          <input type="text" class="form-control" id="endtime" name="endtime" placeholder="end time">
        </div>
        <div class="form-group">
          <label for="numitems">Number of Items</label>
          <input type="text" class="form-control" id="numitems" name="numitems" placeholder="number of items">
        </div>
        <button type="submit" class="btn btn-default btn-primary">Add Buffet(s)</button>
    </fieldset>
    </form>
    </div>
</div>
{% endblock %}
