{% extends "templates/admin/base.html" %}

{% block headtitle %}
<title>Indian Buffets Admin - Search Results</title>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <h2> Search Results </h2>
  </div>
  <div class="col-md-8">
    <ul class="pagination">
      {% for _ in range(0, 200) %}
        {% if _ * 20 > result.total %}{% break %}{% endif %} 
        {% set off = _ * 20 %}
        {% if _ * 20 == current_offset %}
        {% set c = 'disabled' %}
        {% else %}
        {% set c = '' %}
        {% endif %}
        <li class={{c}}>
          <a href="/adminsearch?city={{city}}&restaurant_name={{restaurant_name}}&offset={{off}}">
            {{loop.index}}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
<div class="row">
  <div class="col-md-8">
<h3> New Restaurants </h3>
<table class="table table-striped">
  <tr>
    <th> S. No </th>
    <th> Name </th>
    <th> Phone </th>
    <th> No Buffet </th>
    <th> Add </th>
  </tr>
  {% for business in new_restaurants %}
  <tr>
    <td>{{loop.index + current_offset}}</td>
    <td>{{business.name}}</td>
    <td>{{business.phone}}</td>
    <td>
      
      <a href="/adminsearch?city={{city}}&restaurant_name={{restaurant_name}}&offset={{current_offset}}&nobuf={{business.id}}" class="btn btn-default btn-xs">No Buffets</a>
      
    </td>
    <td>
      <form action="/addrestaurant" method="get">
        <input type="hidden" name="yelp_id" value="{{business.id}}">
        <button type="submit" class="btn btn-success btn-xs">Add Buffets</button> 
      </form>
    </td>
  </tr>        
  </div>
  {% endfor %}
</table>
  </div>
  <div class="col-md-4">
<h3> Restaurants With Buffets</h3>
<table class="table table-striped">
  <tr>
    <th> S. No </th>
    <th> Name </th>
    <th> Phone </th>
    <th> Edit Buffet </th>
  </tr>
  {% for business in current_restaurants %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{business.name}}</td>
    <td>{{business.phone}}</td>
    <td>
      <form action="/addrestaurant" method="get">
        <input type="hidden" name="yelp_id" value="{{business.id}}">
        <button type="submit" class="btn btn-default btn-xs">Edit Buffets</button>
      </form>
    </td>
  </tr>        
  </div>
  {% endfor %}
</table>
</div>
</div>

<h3> No Buffets Restaurants</h3>
<table class="table table-striped">
  <tr>
    <th> S. No </th>
    <th> Name </th>
    <th> Phone </th>
    <th> Add </th>
  </tr>
  {% for business in nobuf_restaurants %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{business.name}}</td>
    <td>{{business.phone}}</td>
    <td>
      <form action="/addrestaurant" method="get">
        <input type="hidden" name="yelp_id" value="{{business.id}}">
        <button type="submit" class="btn btn-success btn-xs">Add Buffets</button> 
      </form>
    </td>
  </tr>        
  </div>
  {% endfor %}
</table>
{% endblock %}