<!DOCTYPE html>
<html>
  <head>
    {% block headtitle %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='/css/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container">

<div class="row">
<div class="col-md-10">
<a class="navbar-brand text-success" href="/" style="font-family: 'Kelly Slab', cursive;font-size: 44px;">Kid Finder <span style="font-family: 'Roboto Slab', serif;font-size:20px;" class="text-muted"> powered by flickr </span></a>

<a class="navbar-brand pull-right" href="/tech" style="font-size:20px;"> Technology </a>
</div>

</div>
  
  
{% block content %}{% endblock %}

      <div class="footer">
        <p>&copy; Yral Inc 2013</p>
      </div>

</div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="/js/bootstrap.min.js"></script-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>


    </script>
  </body>
</html>