{% extends "templates/base.html" %}

{% block headtitle %}
<title>Kid Finder - Search</title>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
  <h2> Welcome Parent </h2>
  <form role="form" action="/adminsearch" method="get">
    <input type="hidden" name="offset" value="0">
    <fieldset>
      <legend>Enter a case number to find or select your kid's picture</legend>
      <div class="form-group">
        <label for="case_num">Case Number</label>
        <input type="text" class="form-control" id="case_num" name="case_num" placeholder="case number, ex: 1223364">
      </div>      
      <button type="submit" class="btn btn-default">Find</button>
    </fieldset>
  </form>
  </div>
</div>

<!-- list of pictures -->
<h2> Trending Kids </h2>
<div class="row">

<div class="kids">
{% for k in kids %}    
    <div class="kid">
    <div>
    <a href="/kid?id={{k.key.id()}}">
      <img src="{{k.image}}" width="200" height="250" class="img-rounded">
    </a>
    </div>
    {{k.name}}
    </div>  
{% endfor %}
</div>


</div>
{% endblock %}