{% extends "templates/base.html" %}

{% block headtitle %}
<title>Kid Finder</title>
{% endblock %}

{% block content %}
<div class="row">
  <div class="kid-info">
  <div class="kid-detail">
    <div>
    <img src="{{kid.image}}" width="200" height="250" class="img-circle">
    </div>
    <div style="margin-top:10px;">
    <button type="button" class="btn btn-primary">Follow</button>
    </div>
  </div>
  <div class="col-md-4">
  <ul class="list-group">
  <li class="list-group-item"><span class="text-muted">Name:</span> 
  <a href="{{kid.url}}"><span class="text-primary">{{kid.name}}</span></a>
  </li>
  <li class="list-group-item"><span class="text-muted">Case Number:</span> <span class="">{{kid.casenum}}</span></li>
  <li class="list-group-item"><span class="text-muted">Age:</span> <span class="">13</span></li>
  <li class="list-group-item"><span class="text-muted">Missing:</span> <span class="">08/03/2013</span></li>
  <li class="list-group-item"><span class="text-muted">Contact:</span> <span class="">Chula Vista Police Department (California) 1-619-691-5151.</span></li>
  <li class="list-group-item">  <span class="badge pull-left">2</span> <span class="text-warning"> &nbsp;&nbsp; Flickr photo matches</span></li>
  </ul>
  </div>
</div>
<div style="clear:both;"></div>

<div style="margin-top:50px">
{% if fpics_len > 0 %}
<h2> Matching photos </h2>
{% for p in fpics %}


<div class="row">
  <div class="col-md-4">   
    <a href="http://www.flickr.com/photos/83047641@N08/{{p.id}}"> 
    <img src="{{p.url}}" class="img-thumbnail gs">
    </a>
  </div>

  <div class="col-md-4">
<table class="table table-hover">
  <tr><td> Flickr user: playshak </td></tr>
  <tr><td> Date: 09/29/13 </td></tr>
  <tr><td> Place: Yahoo! Cafe </td></tr>
</table>
<div style="width:250px;height:250px"><iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=701%2Bfirst%2Bave%2Bsunnyvale%2BCA&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><br><table width="250" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=701%2Bfirst%2Bave%2Bsunnyvale%2BCA&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div>
  </div>
 </div>
 {% endfor %}
{% else %}
<h2> No matching photos </h2>
{% endif %}

</div>
{% endblock %}