{% extends "templates/base.html" %}

{% block headtitle %}
<title>Kid Finder - Tech</title>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10">
  <h2> Technology </h2>
  <ul style="font-size:40px;">
    <li>Flickr API - public photos</li>
    <li>YQL - missing kids feed</li>
    <li>Sky Biometry - face recognition</li>
    <li>Canvas, HTML5 (Chrome Extension) - face detection on client</li>
    <li>Google Places - prioritize place categories</li>
    <li>Google Maps - UI</li>
    <li>Google App Engine - Hosting</li>
  </ul>
  
</div>
</div>
{% endblock %}